* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2e2e2;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ul li {
  list-style-type: none;
  font-size: 1.2rem;
}

img {
  width: 62px;
  height: 62px;
  border: 1px solid black;
  border-radius: 50%;
}

/* header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

ul {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  /* width: calc(100% - 40px); */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 5px 5px 10px rgb(129, 129, 129);
}

nav h1 {
  font-size: 1.7rem;
  font-weight: 500;
}

.main {
  display: flex;
  justify-content: space-between;
}

main {
  background-color: #fff;
  width: 687.5px;
  height: 687.5px;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 5px 5px 10px rgb(129, 129, 129);
}

aside {
  background-color: #fff;
  margin: 10px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgb(129, 129, 129);
}

footer {
  margin: 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgb(129, 129, 129);
}

/* Responsive */
/* @media (max-width: 780px) {
  ul,
  img {
    display: none;
  }
}

@media (max-width: 500px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: center;
    align-items: center; */
/* } */

/* main { */
/* margin: 10px; */
/* width: calc(100vw - 20px); */
/* } */

/* aside { */
/* margin: 20px; */
/* width: calc(100vw - 20px);
    height: 80px;
  }
} */

@media (max-width: 780px) {
  ul {
    display: none;
  }
  img {
    width: 40px;
    height: 40px;
  }
  nav {
    height: 80px;
  }
  nav h1 {
    font-size: 1rem;
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  img {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: column-reverse;
  }

  main {
    width: calc(100% - 20px);
  }

  aside {
    width: calc(100% - 20px);
    margin: 10px;
    height: 80px;
  }
  footer {
    height: 80px;
  }
}
