.parent {
  background-color: aqua;
  height: 500px;
  width: 500px;
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: nowrap; */
  /* flex-flow: row nowrap; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.c {
  background-color: yellow;
  height: 100px;
  width: 100px;
  margin: 5px;
}

/* #edf2f7 */
