@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Playwrite+DE+Grund+Guides&display=swap");

/* * {
  padding: 0%;
  margin: 0%;
} */

/* px & width & height */
/* .first {
  background-color: powderblue;
  width: 50%;
  height: 250px;
} */

/* .parent {
  background-color: aqua;
  height: 600px;
  width: 800px;
}

.child {
  background-color: #000;
  width: 50%;
  height: 50%;
  color: aliceblue;
} */

/* em, rem ===> 1em&1rem == 16px  */
/* em : changes with parent changing   */
/* rem: change only with root changing */
/* calc */
/* div {
  background: yellowgreen;
  width: calc(100vh - 60px); */
/* height: calc(100vh - 60px); */
/* } */

/* p {
  background-color: blueviolet;
  font-size: larger;
} */
/* calc */
* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #e7e7e7;
}

div {
  background: yellowgreen;
  width: calc(100% - 60px);
  height: calc(100vh - 60px);
}

h1 {
  background: bisque;
  width: 100px;
  /* height: 60px; */
}

p {
  margin: 0 auto;
  background-color: white;
  font-family: "Playwrite DE Grund Guides", cursive;
  font-weight: 400;
  font-style: normal;
  width: calc(100% - 40px);
  border-radius: 8px;
  margin-bottom: 20px;
  padding-left: 5px;
}
