/* Display: 1, inline, inline-block */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.block {
  background-color: aqua;
  /* display: inline; */
  margin: 0 auto;
}

.inline {
  background-color: yellowgreen;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}

.third ul li {
  list-style: none;
  cursor: pointer;
}

#ch {
  background-color: aqua;
  /* display: block;
  width: 200px;
  height: 200px;
  padding: 20px; */
}

/* opacity, visibility, display:none */
button {
  background-color: aqua;
  width: 60px;
  height: 30px;
  border: 2px solid black;
  border-radius: 8px;
  margin-top: 30px;

  /* opacity */
  /* opacity: 0; */

  /* visibility */
  /* visibility: hidden; */

  /* display:none */
  display: none;
  display: inline;
}

button a {
  text-decoration: none;
  color: red;
  color: black;
  font-family: "Courier New", Courier, monospace;
}
