* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e7e7e7;
  padding: 10px;
}

header {
  background-color: white;
  width: 95%;
  margin: 0 20px;
}

nav ul li {
  list-style-type: none;
}

main {
  background-color: white;
  width: 95%;
  height: 200px;
  margin: 0 20px;
}

aside {
  background-color: white;
  width: 95%;
  height: 400px;
  margin: 0 20px;
}

footer {
  background-color: white;
  width: 95%;
  height: 100px;
  margin: 0 20px;
}
