* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.child {
  background-color: aqua;
  /* height: 40px; */
  margin: 10px;
}

.container {
  display: grid;
  background-color: rgb(233, 106, 233);
  height: 700px;

  /* grid */
  gap: 10px;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: repeat(4, 1fr);
}

#last {
  /* grid-column: 1 / 4;
  grid-row: 1 / 3; */

  align-self: center;
  justify-self: end;
}
