/* Padding, Margin, Border, Outline */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
}

h1 {
  display: inline-block;
  background-color: #e9e9e9;
  padding: 10px;
  width: 160px;
  margin: 40px;
  /* outline-style: dashed;
  outline-color: black;
  outline-offset: 4px;
  outline-width: 2px; */
  /* border shorthand */
  border: 4px solid green;
  outline: 2px dashed black;
  outline-offset: 4px;
}

.first {
  background-color: aqua;
  width: 300px;
  height: 200px;
  text-align: center;
  /* Box Model */
  /* padding: 80px; */
  margin: 20px;
}

p {
  display: inline-block;
  background-color: #e9e9e9;
  width: 200px;
  /* height: 100px; */
  padding: 20px;
  margin: 10px;
  border-color: black;
  /* border: black solid 1px; */
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}

.second {
  background-color: yellowgreen;
  width: 300px;
  height: 200px;
  margin: 20px;
}
